<% bookCoverClass = locals.large ? 'book-cover-large' : 'book-cover' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>

<div class="book-grid <%= bookGridClass %>">
    <% books.forEach(book => { %>
        <div class="book-item">
            <a href="/books/<%= book.id %>">
                <img class="<%= bookCoverClass %>" src="<%= book.coverImagePath %>" alt="err">
            </a>
        </div>
    <% }) %>
</div>