<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divine Library</title>
    <link id="main-css" rel="stylesheet" href="/Styles/stylesheets/main.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js" defer></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js" defer></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js" defer></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js" defer></script>
    <script src="/Scripts/fileUpload.js" defer></script>
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <div class="inner-container">
            <%- include('../partials/errorMessage') %>
            <%- body %>
        </div>
    </div>
</body>
</html>